footer{
    background-color: #495E57;
    color: white;
    padding:20px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    gap:10px;
    font-size: 20px;
    font-weight: bolder;
    position: relative;
    bottom: 0;

}

#footer-logo{
    filter: brightness(0) invert(1);
    width:160px;
    height:280px;
}
div>h5>a{
    color: white;
   text-decoration: none;
    font-weight: 500;
}

div>h5>a:hover{
    color:#333333;
}