header{

 display: flex;
 justify-content: space-around;
 align-items: center;
 background-color: #EDEFEE;
 padding:10px;

}
#logo{
    width:200px;
    height:70px;
}
@media screen and (max-width: 1000px) {
    header{
        flex-direction: column;
    }
}
